<app-bannernews></app-bannernews>
<section class="NewsMain">
    <h1>Науково-технічна конференція молодих учених «Актуальні проблеми інформаційних технологій 2021» (APIT - 2021)
    </h1>

<div class="newsImage" id="image1"><a href="assets/pictures/apit2021.jpg" target="_blank">
    <img src="assets/pictures/apit2021.jpg"></a>
</div>
    Організаційний комітет науково-технічної конференції молодих учених 
    «Актуальні проблеми інформаційних технологій 2021» (APIT - 2021) повідомляє 
    про початок прийому статей та тез доповідей для участі у конференції, яка 
    відбудеться 19-20 жовтня 2021 року у Київському національному університеті імені Тараса Шевченка.
<br><br>
До участі у конференції запрошуються вчені, науковці, працівники ІТ сфери, аспіранти та студенти.
<br><br><br>
    <a href="https://drive.google.com/file/d/1Oy_hPesLC29hDdk_annd0sV_D7L-lgU1/view?usp=sharing" target="_blank">Програма конфереції ▶</a>
<br>
</section>