<app-bannernews></app-bannernews>
<section class="NewsMain">
    <h1>День науки в Україні</h1>
        
            <div class="newsImage" id="image1"><a href="assets/pictures/earth.jpg" target="_blank">
                <img src="assets/pictures/earth.jpg"></a></div>
            День науки - це свято людей, які вірять в силу наукової думки,
             націлені на відкриття нового. Свято нестандартного мислення і креативу.
        <br><br>
            З Днем науки! Перемог, звершень і відкриттів!
            
</section>