$color1: #F4F0EC;
$color2: #C19CCA;
$color3: #9CC892;
$fsizeBig: 45px;
$fsizeMed: 35px;
$fsizeSmall: 25px;
@font-face {
    font-family: regular;
    src: url(fonts/RobotoCondensed-Light.woff);
}
@font-face {
    font-family: title;
    src: url(fonts/Oswald-VariableFont_wght.woff);
}
body{
    font-family: "regular", serif;
    background-color: $color1;
    font-size: $fsizeSmall;
    h1{
        font-family: "title", serif;
        text-align: center;
        padding-bottom: 30px;
    }
    a{
        color: $color3;
        text-decoration: none;
        cursor: pointer;
        .Anim{
            width: 25px;
            height: 35px;
            float: right;
            transition: 0s;
        }
    }
    a:hover{
        color: $color2;
        transition: color 0.5s;
    }
}