<section class="GalleryBanner">
    <div class="logo"><img src="assets/MIT-logo.png"></div>
    <nav>
        <div class="links" id="links">
            <div class="link"><a href="https://nitd.knu.ua" target="_blank">Кафедра ▶</a></div>
            <div class="link"><a href="https://nitd.knu.ua/contacts.html" target="_blank">Контакти ▶</a></div>
            <div class="link"><a routerLink="">Новини ▶</a></div>
            <div class="dropdown"  id="dropdown">
                <div class="linkDown" id="linkDown"><a>Інше <div class="Anim" id="Anim">▼</div></a>
                    <div class="dropdown-content" id="dropdown-content">
                        <div><a href="http://fit.univ.kiev.ua/" target="_blank">Сайт факультету ▶</a></div>
                        <div><a href="https://t.me/dekanatFIT" target="_blank">Деканат ФІТ ▶</a></div>
                        <div><a href="https://t.me/spu_knu" target="_blank">Студпарламент ▶</a></div>
                    </div>
                </div>
            </div> 
        </div>
    </nav>
</section>