<app-banner></app-banner>
<div class="header"><h1>Новини</h1></div>

    <section class="IndexMain" id="IndexMain">
         <!-- <div class="new">
            <time>20 жовтня 2021</time>
            <a href="newsConference.html">
                <h1>19 жовтня 2021 на кафедрі мережевих та інтернет технологій пройшла конференція АРІТ 2021</h1>
            </a>
            <div class="mainImage"><img src="assets/pictures/Conference.jpg"></div>
                19 жовтня на кафедрі мережевих та інтернет технологій пройшла конференція молодих учених
                «Актуальні проблеми інформаційних технологій 2021» (APIT - 2021).<br><br>
                <a href="newsConference.html">Дізнатися більше ▶</a>
        </div>
        
        <div class="line"></div>

        <div class="new">
            <time>01 жовтня 2021</time>
            <a href="newsConferenceWhen.html">
                <h1>Науково-технічна конференція молодих учених «Актуальні проблеми інформаційних технологій 2021» (APIT - 2021)</h1>
            </a>
            <div class="mainImage"><img src="assets/pictures/apit2021.jpg"></div>
            Науково-технічна конференції молодих учених «Актуальні проблеми 
            інформаційних технологій 2021» (APIT - 2021)  відбудеться 19-20 жовтня 2021 року у Київському
            національному університеті імені Тараса Шевченка. До участі у конференції запрошуються вчені,
            науковці, працівники ІТ сфери, аспіранти та студенти.<br><br>
            <a href="newsConferenceWhen.html">Дізнатися більше ▶</a>
            
        </div>

        <div class="line"></div>

        <div class="new">
            <time>01 жовтня 2021</time>
            <a href="newsOpenDay.html">
                <h1>Загальноуніверситетський День відкритих дверей КНУ EXPO: Успішне майбутнє починається тут </h1>
            </a>
            <div class="mainImage"><img src="assets/pictures/openday2021.jpg"></div>
            9 жовтня 2021, 10.00 - 15.00
                у головному навчальному корпусі (Володимирська 60)
                відбудеться загальноуніверситетський День відкритих дверей.<br><br>
                <a href="newsOpenDay.html">Дізнатися більше ▶</a>
        </div>
        
        <div class="line"></div> -->
        
<app-news-list></app-news-list>
    </section>