<app-bannernews></app-bannernews>
<section class="NewsMain">
    <h1>19 жовтня 2021 на кафедрі мережевих та інтернет технологій пройшла конференція
        АРІТ 2021</h1>
    
        <div class="newsImage" id="image1"><a href="assets/pictures/apit2021.jpg" target="_blank">
            <img src="assets/pictures/apit2021.jpg"></a></div>
        19 жовтня на кафедрі мережевих та інтернет технологій 
        пройшла конференція молодих учених «Актуальні проблеми 
        інформаційних технологій 2021» (APIT - 2021).
    <br><br>
        В конференції прийняли активну участь студенти факультету 
        інформаційних технологій та гості з інших університетів та міст України.
        <br><br>
        <div class="newsImage" id="image2"><a href="assets/pictures/Conference.jpg" target="_blank">
        <img src="assets/pictures/Conference.jpg"></a></div>
        Напрямки робіт які були представлені на конференції: "Інформаційні системи та 
        технології в освіті, економіці та обороні", "Моделювання інформаційних систем",
        "Теоретичні аспекти інтернет речей", та "Системи та методи захисту комп'ютерної інформації"
        <br><br>
        Студенти нашої кафедри показали високий рівень підготовки і професійних знань.
        <br><br><br>
        <a href="http://apit.kiev.ua/" target="_blank">Перейти на сайт конференції ▶</a>
</section>