<app-bannernews></app-bannernews>
<section class="NewsMain">
    <h1>
        Загальноуніверситетський День відкритих дверей КНУ EXPO: Успішне майбутнє починається тут 
    </h1>
   
    <div class="newsImage" id="image1"><a href="assets/pictures/openday2021.jpg" target="_blank">
        <img src="assets/pictures/openday2021.jpg"></a>
    </div>
    9 жовтня 2021, 10.00 - 15.00
      В головному навчальному корпуі (Володимирська, 60) 
      відбудеться загальноуніверситетський День відкритих дверей.
      <br><br>
    <div class="newsImage" id="image2"><a href="assets/pictures/red.jpeg" target="_blank">
        <img src="assets/pictures/red.jpeg"></a>
    </div>
      
    Програма: профорієнтація, консультації, презентації, воркшопи,конкурси, культурно-роважальна частина.

    <br><br><br>
        
        <a href="https://goo.gl/maps/3q1E9ykpyAYP5nZU8" target="_blank">Геопозиція головного навчального корпусу ▶</a>

</section>